numpy==1.26.4
pandas==2.2.1
scikit-learn==1.6.1
matplotlib==3.10.3
seaborn==0.13.2
nltk==3.8.1
spacy==3.7.2
gensim==4.3.2
wordcloud==1.9.3
regex==2023.12.25
transformers==4.51.3
tokenizers==0.21.1
huggingface-hub==0.31.2
safetensors==0.5.3
joblib==1.4.2
tqdm==4.66.2
typer==0.15.3
typer-slim==0.15.3
